<div style="width: 100%; height: 100vh; display: flex;">
    <div style="width: 50%; background-color: #1b6ec2;">
        Здесь просто чинят
    </div>
    <div style="width: 50%; background-image: url(@_imgLink); background-repeat: no-repeat; background-size: cover;">
    </div>
</div>

@code {
    private string _imgLink = "/img/index/MainPicture.jpeg";
}