<div class="hello-block-container">
    <div class="hello-block-info">
        <div class="hello-block-title yellow-neon">
            Мы делаем всю работу в кратчайшие сроки!
        </div>
        <div class="hello-block-description">
            <div class="hello-block-doings">
                <div style="
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 10px;">
                    Ремонтируем:
                </div>
                <ul style="font-size: 16px">
                    <li>Телефоны</li>
                    <li>Планшеты</li>
                    <li>Ноутбуки и ПК</li>
                    <li>Принтеры</li>
                    <li>Телевизоры</li>
                    <li>И другую цифровую технику...</li>
                </ul>
            </div>
            <div class="hello-block-contacts">
                <div style="
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 10px;">
                    Связаться с нами
                </div>
                <div style="font-size: 16px">г.Калуга ул. Воронина д.9</div>
                <div style="font-size: 16px">+7(962)175-37-55</div>
                <div class="hello-block-icon-container">
                    <a href="https://vk.com/public213701323" target="_blank">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="https://wa.me/79621753755" target="_blank">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                    <a href="https://yandex.ru/maps/org/kompyuterny_remont_i_uslugi/193667136744/?ll=36.260431%2C54.519115&z=15" target="_blank">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hello-block-image">
    </div>
</div>

@code {
    
}