@page "/"

<Microsoft.AspNetCore.Components.Web.PageTitle>Главная</Microsoft.AspNetCore.Components.Web.PageTitle>

<div class="tracking-block-wrapper">
    <DefaultContainer>
        <div class="tracking-block">
            <TrackingBlock/>
        </div>
    </DefaultContainer>
</div>
<HelloBlock/>
<VideoBlock/>

<div class="order-block-wrapper">
    <DefaultContainer>
        <div class="order-block">
            <OrderBlock/>
        </div>
    </DefaultContainer>
</div>