.tracking-block-header{
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.tracking-block-searchbox{
    width: 100%;
    display: flex;
}

.tracking-block-component{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tracking-block-body{
    margin-top:  20px;
    text-align: center;
}