<div class="video-block-wrapper">
    <DefaultContainer>
        <div class="video-block-header">
            <dib class="video-block-header-title yellow-neon">Пример нашей работы:</dib>
        </div>
        <div class="video-block-body">
            <video width="400" controls autoplay>
                <source src="/vid/about-video.MOV" type="video/mp4">
            </video>
        </div>
    </DefaultContainer>
</div>

@code {
    
}