<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet"
					arguments=".\TirileckWorkshop.dll"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />
		<httpErrors errorMode="Detailed" />
	</system.webServer>
</configuration>
