@inherits LayoutComponentBase

<ModalContainer />
<ToastContainer />

<Microsoft.AspNetCore.Components.Web.PageTitle>Magic Auth</Microsoft.AspNetCore.Components.Web.PageTitle>

<div class="auth-background">
    @Body
</div>