@inherits LayoutComponentBase


<ModalContainer />
<ToastContainer />

<Microsoft.AspNetCore.Components.Web.PageTitle>Magic Company</Microsoft.AspNetCore.Components.Web.PageTitle>

<div class="page">
    <header>
        <Title/>
        <div class="header-big-title yellow-neon">Ремонт цифровой техники</div>
        <NavMenu/>
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>