.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header{
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-image: linear-gradient(90deg, rgb(139, 0, 255) 0%, #6600ff 70%);
}