<nav>
    <div onclick="@(async () => await NavigateTo(NavLinks.About))">О нас</div>
    <div onclick="@(async () => await NavigateTo(NavLinks.Order))">Оставить заявку</div>
</nav>

@code{

    [Inject] public NavigationManager NavigationManager { get; set; }

    async Task NavigateTo(NavLinks link)
    {
        switch (link)
        {
            case NavLinks.About:
                NavigationManager.NavigateTo(NavigationManager.BaseUri + "/about");
                break;
            case NavLinks.Order:
                NavigationManager.NavigateTo(NavigationManager.BaseUri + "/order");
                break;
        }
    }

    enum NavLinks
    {
        About,
        Order
    }
}