<nav>
    <div style="width: 200px" onclick="@(async () => await NavigateTo(NavLinks.About))"></div>  @*Костыль для центрирования*@
    <div onclick="@(async () => await NavigateTo(NavLinks.About))">О нас</div>
</nav>

@code{

    [Inject] public NavigationManager NavigationManager { get; set; }

    async Task NavigateTo(NavLinks link)
    {
        switch (link)
        {
            case NavLinks.About:
                NavigationManager.NavigateTo(NavigationManager.BaseUri + "/about");
                break;
            case NavLinks.Order:
                NavigationManager.NavigateTo(NavigationManager.BaseUri + "/order");
                break;
        }
    }

    enum NavLinks
    {
        About,
        Order
    }
}