nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav > div{
    font-size: 21px;
    padding: 5px;
    cursor: pointer;
    color: #f8f32b;
}


nav > div:hover{
    color: red;
}