.oder-form{
    background-color: #ebebeb;
    border-radius: 5px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
}

.order-form-header{
    border-bottom: 1px black solid;
    width: 100%;
    padding: 5px;
}

.order-form-body{
    width: 100%;
    padding: 5px;
}

